* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

:root {
  font-family: Lato,"Trebuchet MS",Arial,sans-serif;
  background-color: whitesmoke;
}

nav {
  position: fixed;
  height: 3rem;
  width: 100vw;
  z-index: 3;
  align-content: center;
  box-sizing: border-box;
}

#logo {
  padding-left: 1rem;
}

#title-block {
  margin-top: 3rem;
  width: min(80vw, 60rem);
  padding: 0rem 2rem;
  height: 5rem;
  background-color: white;
  align-content: center;
  text-transform: capitalize;
}

#subtitle {
  color: #aaa;
  font-size: 20px;
}

#information-grid {
  width: min(80vw, 60rem);
  height: min(60vh, 45rem);
  padding: 0rem 2rem;
  padding-bottom: 2rem;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "image info"
    "image map";
  gap: 1rem 1rem;
}

#information-grid button {
  background: radial-gradient(circle at top left, rgb(89, 180, 89), rgb(95, 210, 124));
  padding: 0.5rem 0rem;
  margin-bottom: -1rem;
  border: none;
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
}

#image {
  display: inline-flex;
  height: 100%;
  width: 100%;
  grid-area: image;
}

#main-image {
  height: 100%;
  width: 100%;
}

#image-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  overflow: scroll;
}

.sub-image {
  width: 90%;
  aspect-ratio: 1;
  margin-bottom: .15rem;
}

#page-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

#map-container {
  width: 100%;
  height: 100%;
  grid-area: map;
}

#map {
  width: 100%;
  height: 100%;
}

#information {
  width: 100%;
  height: 100%;
  grid-area: info;
  overflow: scroll;
  box-sizing: border-box;
  padding: .5rem;
  background: radial-gradient(circle at top left, rgb(73, 155, 73), rgb(108, 233, 139));
  background-attachment: local;
  color: white;
  border-radius: .5rem .5rem 0rem 0rem;
}

#wikipedia_summary {
  font-size: 16px;
}

#children-container {
  margin-top: .25rem;
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10vh;
}

.child {
  background-color: white;
  color: black;
  width: 12rem;
  height: 16rem;
  margin: 0.5rem;
  text-transform: capitalize;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 50%;
  border-radius: .5rem .5rem 0rem 0rem;
}

.child img {
  width: 12rem;
  height: 12rem;
  background-color: white;
  border-radius: .5rem .5rem 0rem 0rem;;
}

.child-info {
  box-sizing: border-box;
  padding: 0.4rem;
  height: 4rem;
  width: 11.5rem;
  display: flex;
  flex-direction: column;
  line-height: 1rem;
}

.child-info h3 {
  color: #aaa;
}
