* {
  margin: 0;
  padding: 0;
}

nav {
  height: 5vh;
  width: 100vw;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
}

#image {
  display: inline-flex;
  height: 20rem;
  width: 25rem;
}

#main-image {
  height: 20rem;
  width: 20rem;
}

#image-carousel {
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 20rem;
  overflow: scroll;
}

.sub-image {
  height: 5rem;
  width: 5rem;
}